 html {

    background-color: black;
    color: rgb(218, 188, 71) ;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

} 

/* body {
    margin-bottom: 10rem;
} */

#topContainer {
    /* height: 95vh; */
    width: 95vw;
}

#set100tContainer {
    margin: 0 0 0 0;
    position: absolute;
    width: 100%;
}

#resultContainer {
    margin: 0 0 0 0;
    position: absolute;
    width: 100%;
}

.newscontainer {
    margin: 0 0 0 2rem;
    position: absolute;
}

#divTopGain,#divTopLoss {
    margin: 0;
}

th {
    padding: 8px 5px;
    
}

td {
    padding: 8px 5px;
    font-weight: bold;
}

#nav {
    background-color: black;
    color: white;
    /* position: fixed; */
    top:0;
    width: 100%;
    height: 2.5em;
}

.colorBlue {
    color:#039be5;
}

.colorGreen {
    color:rgb(44, 174, 0);
    /*font-weight: bold;*/ 
}

.colorRed {
    color:rgb(241, 27, 27);
    /*font-weight: bold; */
}


#InforBar {
    margin: 10px 0;
}

#stocksymbol {
    color: rgb(218, 188, 71) ;
    text-transform: uppercase;
}

#stocksymbolerrormsg {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}

